<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Entry</title>
</head>

<body>
    <h1>Create Your Entry!</h1>
    <form action="createEntry">
        <input class="search" type="text" name="title" placeholder="Input the Title">
        <br />
        <br />
        <textarea rows="50" cols="75" name="content" placeholder="Input the Content"></textarea>
        <br />
        <input type="submit" value="Exit">
    </form>
</body>

</html>